Repository bounswe/bounswe2025group1, pull requests merged in 2025-04, with the labels that each got.

#127 Create PR Templates
  .github/PULL_REQUEST_TEMPLATE/bugfix.md
  .github/PULL_REQUEST_TEMPLATE/default.md
  .github/PULL_REQUEST_TEMPLATE/documentation.md
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE/refactoring.md
Labels: documentation, priority: low, status: review

#139 Merge PR Templates
  .github/PULL_REQUEST_TEMPLATE/bugfix.md
  .github/PULL_REQUEST_TEMPLATE/default.md
  .github/PULL_REQUEST_TEMPLATE/documentation.md
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE/refactoring.md
Labels: documentation, priority: high, status: review

#140 Backend setup branch- initial commit
  .gitignore
  README.md
  gardenPlannerBackend/README.md
  gardenPlannerBackend/core/__init__.py
  gardenPlannerBackend/core/asgi.py
  gardenPlannerBackend/core/settings.py
  gardenPlannerBackend/core/urls.py
  gardenPlannerBackend/core/wsgi.py
  gardenPlannerBackend/db.sqlite3
  gardenPlannerBackend/gardenplanner/__init__.py
  gardenPlannerBackend/gardenplanner/apps/__init__.py
  gardenPlannerBackend/gardenplanner/apps/garden/__init__.py
  gardenPlannerBackend/gardenplanner/apps/garden/admin.py
  gardenPlannerBackend/gardenplanner/apps/garden/apps.py
  gardenPlannerBackend/gardenplanner/apps/garden/migrations/__init__.py
  gardenPlannerBackend/gardenplanner/apps/garden/models.py
  gardenPlannerBackend/gardenplanner/apps/garden/serializers.py
  gardenPlannerBackend/gardenplanner/apps/garden/tests.py
  gardenPlannerBackend/gardenplanner/apps/garden/urls.py
  gardenPlannerBackend/gardenplanner/apps/garden/views.py
  gardenPlannerBackend/manage.py
  gardenPlannerBackend/requirements.txt
Labels: backend

#125 Create React App
  .github/CONTRIBUTING.md
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/assets/react.svg
  frontend/src/components/ForumPreview.jsx
  frontend/src/components/GardenCard.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/TasksList.jsx
  frontend/src/components/WeatherWidget.jsx
  frontend/src/contexts/AuthContext.jsx
  frontend/src/contexts/AuthContextUtils.js
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/src/pages/auth/Login.jsx
  frontend/src/pages/auth/Register.jsx
  frontend/src/pages/forum/ForumList.jsx
  frontend/src/pages/garden/GardenDetail.jsx
  frontend/src/pages/garden/GardenList.jsx
  frontend/src/pages/home/Home.jsx
  frontend/src/utils/api.js
  frontend/vite.config.js
Labels: priority: high, frontend, status: review

#120 Create Contributing Guidelines
  .github/CONTRIBUTING.md
Labels: documentation, priority: low, status: in progress

#141 MOBILE-initial commit
  MOBILE/CommunityGardenApp/.gitignore
  MOBILE/CommunityGardenApp/README.md
  MOBILE/CommunityGardenApp/app.json
  MOBILE/CommunityGardenApp/app/(tabs)/_layout.tsx
  MOBILE/CommunityGardenApp/app/(tabs)/explore.tsx
  MOBILE/CommunityGardenApp/app/(tabs)/index.tsx
  MOBILE/CommunityGardenApp/app/+not-found.tsx
  MOBILE/CommunityGardenApp/app/_layout.tsx
  MOBILE/CommunityGardenApp/assets/fonts/SpaceMono-Regular.ttf
  MOBILE/CommunityGardenApp/assets/images/adaptive-icon.png
  MOBILE/CommunityGardenApp/assets/images/favicon.png
  MOBILE/CommunityGardenApp/assets/images/icon.png
  MOBILE/CommunityGardenApp/assets/images/partial-react-logo.png
  MOBILE/CommunityGardenApp/assets/images/react-logo.png
  MOBILE/CommunityGardenApp/assets/images/react-logo@2x.png
  MOBILE/CommunityGardenApp/assets/images/react-logo@3x.png
  MOBILE/CommunityGardenApp/assets/images/splash-icon.png
  MOBILE/CommunityGardenApp/components/Collapsible.tsx
  MOBILE/CommunityGardenApp/components/ExternalLink.tsx
  MOBILE/CommunityGardenApp/components/HapticTab.tsx
  MOBILE/CommunityGardenApp/components/HelloWave.tsx
  MOBILE/CommunityGardenApp/components/ParallaxScrollView.tsx
  MOBILE/CommunityGardenApp/components/ThemedText.tsx
  MOBILE/CommunityGardenApp/components/ThemedView.tsx
  MOBILE/CommunityGardenApp/components/__tests__/ThemedText-test.tsx
  MOBILE/CommunityGardenApp/components/__tests__/__snapshots__/ThemedText-test.tsx.snap
  MOBILE/CommunityGardenApp/components/ui/IconSymbol.ios.tsx
  MOBILE/CommunityGardenApp/components/ui/IconSymbol.tsx
  MOBILE/CommunityGardenApp/components/ui/TabBarBackground.ios.tsx
  MOBILE/CommunityGardenApp/components/ui/TabBarBackground.tsx
  MOBILE/CommunityGardenApp/constants/Colors.ts
  MOBILE/CommunityGardenApp/hooks/useColorScheme.ts
  MOBILE/CommunityGardenApp/hooks/useColorScheme.web.ts
  MOBILE/CommunityGardenApp/hooks/useThemeColor.ts
  MOBILE/CommunityGardenApp/package-lock.json
  MOBILE/CommunityGardenApp/package.json
  MOBILE/CommunityGardenApp/scripts/reset-project.js
  MOBILE/CommunityGardenApp/tsconfig.json
Labels: priority: high, mobile

#142 [BACKEND] Login, Register, Logout and Password Reset Features
  gardenPlannerBackend/core/settings.py
  gardenPlannerBackend/core/urls.py
  gardenPlannerBackend/gardenplanner/apps/garden/models.py
  gardenPlannerBackend/gardenplanner/apps/garden/serializers.py
  gardenPlannerBackend/gardenplanner/apps/garden/urls.py
  gardenPlannerBackend/gardenplanner/apps/garden/views.py
Labels: backend, review
