Repository bounswe/bounswe2025group1, pull requests merged in 2025-05, with the labels that each got.

#153 Create Auth and Profile Pages for Frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/contexts/AuthContext.jsx
  frontend/src/contexts/AuthContextUtils.js
  frontend/src/index.css
  frontend/src/pages/auth/ForgotPassword.jsx
  frontend/src/pages/auth/ForgotPassword.test.jsx
  frontend/src/pages/auth/Login.jsx
  frontend/src/pages/auth/Login.test.jsx
  frontend/src/pages/auth/Register.jsx
  frontend/src/pages/auth/Register.test.jsx
  frontend/src/pages/auth/ResetPassword.jsx
  frontend/src/pages/auth/ResetPassword.test.jsx
  frontend/src/pages/profile/Profile.jsx
  frontend/src/pages/profile/Profile.test.jsx
  frontend/src/setupTests.js
  frontend/vitest.config.js
Labels: enhancement, priority: medium, frontend, status: review

#171 Feature/133 login register mobile
  MOBILE/CommunityGardenApp/app/(tabs)/_layout.tsx
  MOBILE/CommunityGardenApp/app/_layout.tsx
  MOBILE/CommunityGardenApp/app/auth/login.tsx
  MOBILE/CommunityGardenApp/app/auth/register.tsx
  MOBILE/CommunityGardenApp/constants/Config.ts
  MOBILE/CommunityGardenApp/contexts/AuthContext.tsx
  MOBILE/CommunityGardenApp/package-lock.json
  MOBILE/CommunityGardenApp/package.json
Labels: priority: high, mobile

#169 Implement Forum Feature for Frontend
  frontend/src/App.jsx
  frontend/src/components/CommentCreateDialog.jsx
  frontend/src/components/CommentCreateDialog.test.jsx
  frontend/src/components/ForumCreateDialog.jsx
  frontend/src/components/ForumCreateDialog.test.jsx
  frontend/src/components/ForumPreview.jsx
  frontend/src/components/ForumPreview.test.jsx
  frontend/src/pages/forum/ForumList.jsx
  frontend/src/pages/forum/ForumList.test.jsx
  frontend/src/pages/forum/ForumPost.jsx
  frontend/src/pages/forum/ForumPost.test.jsx
  frontend/src/pages/home/Home.jsx
Labels: enhancement, priority: medium, frontend, status: review

#172 Create Weather Feature for Frontend
  frontend/src/components/ForumPreview.jsx
  frontend/src/components/TasksList.jsx
  frontend/src/components/WeatherWidget.jsx
  frontend/src/components/WeatherWidget.test.jsx
  frontend/src/pages/home/Home.jsx
Labels: enhancement, priority: medium, frontend, status: review

#180 Feature/135 forum mobile
  MOBILE/CommunityGardenApp/app/(tabs)/_layout.tsx
  MOBILE/CommunityGardenApp/app/(tabs)/forum.tsx
  MOBILE/CommunityGardenApp/app/community/index.tsx
  MOBILE/CommunityGardenApp/app/forum/ForumListScreen.tsx
  MOBILE/CommunityGardenApp/app/forum/ForumPostScreen.tsx
  MOBILE/CommunityGardenApp/app/forum/[id].tsx
  MOBILE/CommunityGardenApp/app/forum/_layout.tsx
  MOBILE/CommunityGardenApp/app/forum/create.tsx
  gardenPlannerBackend/gardenplanner/apps/garden/views.py
Labels: priority: high, backend, mobile

#185 Bug/184 follow mechanism mobile
  MOBILE/CommunityGardenApp/app/(tabs)/profile.tsx
  MOBILE/CommunityGardenApp/app/forum/[id].tsx
  MOBILE/CommunityGardenApp/app/garden/[id].tsx
  MOBILE/CommunityGardenApp/app/user/[id].tsx
  MOBILE/CommunityGardenApp/contexts/AuthContext.tsx
  gardenPlannerBackend/gardenplanner/apps/garden/views.py
Labels: mobile

#147 Dockerize the projects
  docker-compose.yml
  frontend/Dockerfile
  gardenPlannerBackend/Dockerfile
  gardenPlannerBackend/core/settings.py
  gardenPlannerBackend/db.sqlite3
  gardenPlannerBackend/requirements.txt
Labels: enhancement, priority: medium, status: review
